{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Accueil</title>
        <!-- Liens externes -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    
        <!-- Liens interne -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    </head>
    <body>
        <header>
            <div>
                <h1>Accueil</h1>
            </div>
        </header>
        <main>
            <button><a href="PriseMesure/">Etablissement devis</a></button>
            <br>
            <button><a href="ListeClient/">Liste client</a></button>
    
            <hr>
            <!-- Calendar -->
            <div class="container-fluid" id="calendar">
                <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=dmFsZW50aW4ubG91c3RoQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=bTdoajRpMjVtOWNoczN2dXJjMjN0bGliaGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Nzl1bGRtNHVnYzN2OWxyYWI0ZjRhZXI4ZXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23616161&amp;color=%237986CB&amp;color=%23D50000&amp;color=%23F6BF26&amp;color=%23009688" class="img-fluid" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            
            <footer>
                <ul>
                    <li><a href="#">Website</a></li>
                    <li><a href="#">E-commerce</a></li>
                    <li><a href="#">Documents</a></li>
                </ul>
            </footer>
        </main>
    </body>
</html>
