{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Liste de client</title>
        <!-- Liens externes -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    
        <!-- Liens interne -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    </head>
    <body>
        <header>
            <div>
                <h1>Détails Client</h1>
            </div>
            <div id="back">
                <a href="/">Back</a>
            </div>
        </header>
        <main class="container">
            <!-- Clients -->
            <fieldset class="container">
                <legend class="row">{{ Client.Name }} - {{ Client.Firstname }} | {{ Client.Date_created }}</legend>
                <div class="row">
                    <p>
                        {{ Client.Street_number }} {{ Client.Street }}, {{ Client.Postal_code }}, {{ Client.City }}
                    </p>
                </div>
                <div class="row">
                    <span class="col-2">Téléphone</span>
                    <p class="col-4">
                        {{ Client.Phone }}
                    </p>
                    <span class="col-2">Portable</span>
                    <p class="col-4">
                        {{ Client.Smartphone }}
                    </p>
                </div>
                <div class="row">
                    <p class="col-6">
                        {{ Client.Email }}
                    </p>
                </div>
            </fieldset>
            <!-- Mesure marche -->
            <fieldset class="container">
                <legend class="row">Mesure des marches</legend>
                <div class="row">
                    <table class="table table-hover table-reponsive-sm">
                        <thead>
                          <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Diagonale</th>
                            <th scope="col">Prof. G</th>
                            <th scope="col">Prof. D</th>
                            <th scope="col">Retour G</th>
                            <th scope="col">Retour D</th>
                            <th scope="col">Plinthe G</th>
                            <th scope="col">Plinthe D</th>
                            <th scope="col">Profilé Arr.</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for marche in PriseMesure %}
                            <tr>
                                <th scope="row">{{ marche.type_stair }}</th>
                                <td>{{ marche.Diagonal }}</td>
                                <td>{{ marche.DepthL }}</td>
                                <td>{{ marche.DepthR }}</td>
                                <td>{{ marche.RetourG }}</td>
                                <td>{{ marche.RetourD }}</td>
                                <td>{{ marche.PlintheG }}</td>
                                <td>{{ marche.PlintheD }}</td>
                                <td>{{ marche.ProfileArriere }}</td>
                              </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </fieldset>
            <!-- Devis -->
            <fieldset class="container">
                <legend class="row">Devis</legend>
                <hr>
                <div class="row">
                    <p class="col-6">
                        Nombre marches : {{ Details.nombre_marches }}
                    </p>
                    <p class="col-6">
                        Décors marches : {{ Details.decor_marches }}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p class="col-6">
                        Nombre contremarches : {{ Details.nombre_contremarches }}
                    </p>
                    <p class="col-6">
                        Décors contremarches : {{ Details.decor_contremarches }}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p class="col-6">
                        Nombre profilé alu : {{ Details.nombre_profile_alu }}
                    </p>
                    <p class="col-6">
                        Type profilé alu : {{ Details.type_profile_alu }}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p class="col-6">
                        Nombre plinthes : {{ Details.nombre_plinthes }}
                    </p>
                    <p class="col-6">
                        Taille plinthes : {{ Details.taille_plinthes }}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p class="col-4">
                        Nombre barre de seuil : {{ Details.nombre_barres_seuil }}
                    </p>
                    <p class="col-4">
                        Type barre de seuil : {{ Details.type_barres_seuil }}
                    </p>
                    <p class="col-4">
                        Couleurs barre de seuil : {{ Details.couleur_barres_seuil }}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p class="col-4">
                        Nombre marche palière : {{ Details.nombre_marches_paliere }}
                    </p>
                    <p class="col-4">
                        Type marche palières : {{ Details.type_marches_paliere }}
                    </p>
                    <p class="col-4">
                        Taille marche palière : {{ Details.taille_marches_paliere }}
                    </p>
                </div>
                <hr>
                <div class="row container">
                    <div class="row">
                        <p class="col-3">
                            Marche éclairée : {{ Details.marche_Eclairee }}
                        </p>
                        <p class="col-3">
                            Marche éteinte : {{ Details.marche_Non_Eclairee }}
                        </p>
                        <p class="col-3">
                            Interrupteur : {{ Details.interrupteur }}
                        </p>
                        <p class="col-3">
                            Détecteur : {{ Details.detecteur }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-3">
                            Unité de cmd : {{ Details.unite_commande }}
                        </p>
                        <p class="col-3">
                            Transfo 35W : {{ Details.transfo_35w }}
                        </p>
                        <p class="col-3">
                            Transfo 75W : {{ Details.transfo_75w }}
                        </p>
                        <p class="col-3">
                            Transfo 100W : {{ Details.transfo_100w }}
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <p class="col-8">
                        Rouleau stratifié : {{ Details.stratifie_rouleau }}
                    </p>
                </div>
                <hr>
                <div class="row container">
                    <div class="row">
                        <p class="col-3">
                            Limon L18 : {{ Details.profile_limon_l18 }}
                        </p>
                        <p class="col-3">
                            Limon L28 : {{ Details.profile_limon_l28 }}
                        </p>
                        <p class="col-3">
                            Limon L80 : {{ Details.profile_limon_l80 }}
                        </p>
                        <p class="col-3">
                            Limon L120 : {{ Details.profile_limon_l120 }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-3">
                            Limon U58 : {{ Details.profile_limon_u58 }}
                        </p>
                        <p class="col-3">
                            Limon U65 : {{ Details.profile_limon_u65 }}
                        </p>
                        <p class="col-3">
                            Limon U75 : {{ Details.profile_limon_u75 }}
                        </p>
                        <p class="col-3">
                            Limon U85 : {{ Details.profile_limon_u85 }}
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <p class="col-4">
                        Parquet : {{ Details.metrage_parquet }}
                    </p>
                    <p class="col-4">
                        Parquet dalle : {{ Details.metrage_parquet_dalle }}
                    </p>
                    <p class="col-4">
                        Décors dalle : {{ Details.decor_parquet_dalle }}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p class="col-4">
                        Parquet : {{ Details.metrage_parquet }}
                    </p>
                    <p class="col-4">
                        Parquet dalle : {{ Details.metrage_parquet_dalle }}
                    </p>
                    <p class="col-4">
                        Décors dalle : {{ Details.decor_parquet_dalle }}
                    </p>
                </div>
                <div class="row container">
                    <div class="row">
                        <p class="col-4">
                            Droit 58mm : {{ Details.droit_58mm }}
                        </p>
                        <p class="col-4">
                            Droit 80mm : {{ Details.droit_80mm }}
                        </p>
                        <p class="col-4">
                            Droit blanc 80mm : {{ Details.droit_blanc_80mm }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-6">
                            Profilé 40mm : {{ Details.profile_40mm }}
                        </p>
                        <p class="col-6">
                            Profilé 80mm : {{ Details.profile_58mm }}
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <p class="col-4">
                        Angle ext. : {{ Details.angles_exterieurs }}
                    </p>
                    <p class="col-4">
                        Angle int. : {{ Details.angles_interieurs }}
                    </p>
                    <p class="col-4">
                        Module de fin : {{ Details.nombre_module_fin }}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p class="col-4">
                        Rouleau isolation phon. : {{ Details.rouleau }}
                    </p>
                    <p class="col-4">
                        Rouleau étanche : {{ Details.rouleau_etange }}
                    </p>
                    <p class="col-4">
                        Panneau isolation phon. : {{ Details.panneau }}
                    </p>
                </div>
            </fieldset>
            <!-- Marche ronde -->
            <fieldset class="container">
                <legend class="row">Marches Ronde</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ MarcheRonde.number }}
                    </p>
                    <p class="col-6">
                        Taille : {{ MarcheRonde.taille }}
                    </p>
                </div>
            </fieldset>
            <!-- Limon int. -->
            <fieldset class="container">
                <legend class="row">Limon Intérieur</legend>
                <div class="row">
                    <p class="col-4">
                        Nombre : {{ LimonInt.length }}
                    </p>
                    <p class="col-4">
                        PDL : {{ LimonInt.pdl }}
                    </p>
                    <p class="col-4">
                        Orientation : {{ LimonInt.orientation }}
                    </p>
                </div>
            </fieldset>
            <!-- Limon ext. -->
            <fieldset class="container">
                <legend class="row">Limon Extérieur</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ LimonExt.number }}
                    </p>
                    <p class="col-6">
                        PDL : {{ LimonExt.pdl }}
                    </p>
                </div>
            </fieldset>
            <!-- Habillage Dessus -->
            <fieldset class="container">
                <legend class="row">Habillage Dessus</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ HabillageDessus.number }}
                    </p>
                    <p class="col-6">
                        PDL : {{ HabillageDessus.pdl }}
                    </p>
                </div>
            </fieldset>
            <!-- Decoupe nez de marche -->
            <fieldset class="container">
                <legend class="row">Découpe nez de marche</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ DecoupeNez.number }}
                    </p>
                    <p class="col-6">
                        PDL : {{ DecoupeNez.pdl }}
                    </p>
                </div>
            </fieldset>
            <!-- Pose parquet -->
            <fieldset class="container">
                <legend class="row">Pose parquet</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ PoseParquet.number }}
                    </p>
                    <p class="col-6">
                        PDL : {{ PoseParquet.pdl }}
                    </p>
                </div>
            </fieldset>
            <!-- Balustrade -->
            <fieldset class="container">
                <legend class="row">Balustrade</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ Balustrade.number }}
                    </p>
                    <p class="col-6">
                        PDL : {{ Balustrade.pdl }}
                    </p>
                </div>
            </fieldset>
            <!-- Création de contremarche -->
            <fieldset class="container">
                <legend class="row">Création de contremarche</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ CreationContremarche.number }}
                    </p>
                    <p class="col-6">
                        PDL : {{ CreationContremarche.pdl }}
                    </p>
                </div>
            </fieldset>
            <!-- Dépose ancien revêtement -->
            <fieldset class="container">
                <legend class="row">Dépose ancien revêtement</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ DeposeAncienRevet.number }}
                    </p>
                    <p class="col-6">
                        PDL : {{ DeposeAncienRevet.pdl }}
                    </p>
                </div>
            </fieldset>
            <!-- Habillage limon -->
            <fieldset class="container">
                <legend class="row">Habillage Limon</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ HabillageLimon.number }}
                    </p>
                    <p class="col-6">
                        Décor : {{ HabillageLimon.decor }}
                    </p>
                </div>
            </fieldset>
            <!-- Panneau palier -->
            <fieldset class="container">
                <legend class="row">Panneaux palier</legend>
                <div class="row">
                    <p class="col-6">
                        Nombre : {{ PanneauPalier.number }}
                    </p>
                    <p class="col-6">
                        Taille : {{ PanneauPalier.taille }}
                    </p>
                </div>
            </fieldset>
        </main>
    </body>
</html>