{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Liste de client</title>
        <!-- Liens externes -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    
        <!-- Liens interne -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    </head>
    <body>
        <header>
            <div>
                <h1>Liste client</h1>
            </div>
            <div id="back">
                <a href="/">Back</a>
            </div>
        </header>
        <main>
            <ul>
                {% for Client in Clients %}
                <li>
                    {{ Client.Name }} - {{ Client.Firstname }}
                    <form 
                        action="/DeleteClient/{{Client.id}}/"
                        method="post"
                        > {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                    <form 
                        action="/UpdateClient/{{Client.id}}/"
                        method="post"
                        > {% csrf_token %}
                        <input type="submit" value="UpdateClient">
                    </form>
                </li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>