{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Liste de client</title>
        <!-- Liens externes -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    
        <!-- Liens interne -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    </head>
    <body>
        <header>
            <div>
                <h1>Liste client</h1>
            </div>
            <div id="back">
                <a href="/">Back</a>
            </div>
        </header>
        <main>
            <ul class="container">
                {% for Client in Clients %}
                <li>
                    <p style="display: inline-block;">
                        <a href="/ListeClient/{{Client.id}}/">{{ Client.Name }} - {{ Client.Firstname }}</a>
                    </p>
                    <form 
                        action="/DeleteClient/{{Client.id}}/"
                        method="post"
                        style="display: inline-block;"
                        > {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                    <!-- <form 
                        action="/UpdateClient/{{Client.id}}/"
                        method="post"
                        style="display: inline-block;"
                        > {% csrf_token %}
                        <input type="submit" value="UpdateClient" class="btn btn-warning">
                    </form> -->
                </li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>